<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>536744934716-a2tb70btgjpiukf0n7t8lt1ag7j5lntu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.536744934716-a2tb70btgjpiukf0n7t8lt1ag7j5lntu</string>
	<key>API_KEY</key>
	<string>AIzaSyCBNz8xuF3EMMZcR99Ia_-gFxRM0qTRDLQ</string>
	<key>GCM_SENDER_ID</key>
	<string>536744934716</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodRecipeApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-firbase-35b47</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-firbase-35b47.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:536744934716:ios:9f2ff4034a51566be87239</string>
</dict>
</plist>